In [1]:
print("hello world");

hello world

In [2]:
a=5;
b=10;
c=a+b;
print(c);

15

In [3]:
x="munazza";
y="iqbal";
z=x+y;
print(z);

munazzaiqbal

In [4]:
f="4";
g="8";
h=f+g;
print(h);

48

In [5]:
a="20";
b=10;
c=a+b;
print(c);

TypeError: can only concatenate str (not "int") to str

In [6]:
x=8;
y=x+7;
z=y-x+1;
print(z);

8

In [8]:
a=12-4/2+9*5;
print(a);

55.0

In [10]:
a=((12-4)/(2+9)*5);
print(a);

3.6363636363636367

In [11]:
x=10;
y=x%3;
print(y);

1

In [12]:
f=10;
f=12;
print(f);

12

In [13]:
g=5;
g=g+2;
print(g);

7

In [14]:
a=3;
a+=3;
print(a);

6

In [16]:
a="munazza";
print("my name is "+a);

my name is munazza

In [18]:
gender="female";
if gender =="female":
        print("allow for ride");

allow for ride

In [20]:
gender="male";
if gender =="female":
        print("allow for ride");
else:
        print("rok lo");

rok lo

In [21]:
gender="male";
if gender !="female":
        print("allow for ride");
else:
        print("rok lo");

allow for ride

In [24]:
age=14;
gender="female";
if age>18 or gender=="male":
    print("allow for ride");
else:
        print("rok lo");

rok lo

In [25]:
age=14;
gender="female";
if age>10 or gender=="male":
    print("allow for ride");
else:
        print("rok lo");

allow for ride

In [28]:
percent=82;
if percent<100 and percent>80:
    print ("grade a+");
elif percent<80 and percent>70:
    print ("grade a"); 
else:
    print("fail");

grade a+

In [31]:
English = 85;
Maths = 80;
Islamiat = 75;
Total = 300;
Percentage = (80+85+75)/300 *100;
print (Percentage);

if (Percentage >=80 and Percentage <100):
    print("Grade A+");
elif (Percentage >=70 and Percentage <80):
    print("Grade A");
elif (Percentage >=60 and Percentage <70):
    print("Grade B");
elif (Percentage >=50 and Percentage <60):
    print("Grade C");
elif (Percentage >=50 and Percentage <60):
    print("Grade D");
elif (Percentage >=50 and Percentage <60):
    print("Grade D");
else:
    print("fail");

80.0
Grade A+

# lec 03

In [3]:
English = int(input('enter english marks : '));
Maths = int(input('enter maths marks : '));
Islamiat = int(input('enter islamiat marks : '));
Total = 300;
Percentage = (English+Maths+Islamiat)/300 *100;
print (Percentage);

if (Percentage >=80 and Percentage <100):
    print("Grade A+");
elif (Percentage >=70 and Percentage <80):
    print("Grade A");
elif (Percentage >=60 and Percentage <70):
    print("Grade B");
elif (Percentage >=50 and Percentage <60):
    print("Grade C");
elif (Percentage >=60 and Percentage <40):
    print("Grade D");
elif (Percentage >=40 and Percentage <30):
    print("Grade D");
else:
    print("fail");

enter english marks67
enter maths marks54
enter islamiat marks35
52.0
Grade C

In [4]:
# power
y = 3**4
print(y)

81

In [7]:
print('hello\nworld')

hello
world

In [10]:
x = 10
y = 12
a = 30
b = 8
if x+y==a-b:
    print(True)
else:
    print(False)

True

In [11]:
age = int(input('enter age : '))
gender  = input('emter gender : ')
if age > 18 and gender == 'male':
    print('allow')
else:
    print('not allow')

enter age : 22
emter gender : female
not allow

In [15]:
name1 = "munazza"
name2 = "muhaba"
name3 = "hafsa"
name4 = "saad"
print(name1+","+name2+","+name3+","+name4)

munazza,muhaba,hafsa,saad

In [16]:
# list 
name = ['munazza','muhaba','hafsa','saad']
print(name)

['munazza', 'muhaba', 'hafsa', 'saad']

In [17]:
print(name[0])

munazza

In [18]:
name[1]='ali'
print(name)

['munazza', 'ali', 'hafsa', 'saad']

In [19]:
name.append('ahmed')
print(name)

['munazza', 'ali', 'hafsa', 'saad', 'ahmed']

In [20]:
arr = ['lion',12,True,5.09]
print(arr)

['lion', 12, True, 5.09]

In [22]:
new_list = name+arr
print(new_list)

['munazza', 'ali', 'hafsa', 'saad', 'ahmed', 'lion', 12, True, 5.09]

In [25]:
arr.insert(3,'musaab')
print(arr)

['lion', 12, True, 'musaab', 5.09]

In [4]:
arr2 = arr[2:4]
print(arr2)

NameError: name 'arr' is not defined

In [27]:
arr2 = arr[:3]
print(arr2)

['lion', 12, True]

In [28]:
del arr[2]
print(arr)

['lion', 12, 'musaab', 5.09]

In [29]:
arr.remove(12)
print(arr)

['lion', 'musaab', 5.09]

In [30]:
arr.pop()
print(arr)

['lion', 'musaab']